#unisa-utilities-bar,.navbar-toggle{
    display: none;
}
#page-image,#main-menu-collapse-1,#side-menu,#rescue-structure-img,#share-dropdown,#main-menu,#logo-UNISA{
    display: none;
}
.breadcrumb,.bg-corona{
    display: none;
}
footer,.sub-footer{
    display: none;
}
#blueimp-gallery{
    display: none;
}
.hidden{
    display: none;
}
.bg-warning{
    height: auto !important;
}
div.bg-warning h3 span{
    display: block;
}
div.bg-warning h3{
    line-height:20px !important;
    padding: 0 !important;
}