html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:#333;
}

.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
   box-shadow: 0 0 80px #333;	
   /*transition: width 0.5s ease 0s;*/
   background:#222222;

}


.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer h3 {
  color: rgb(255, 255, 255);
  margin:0;
  padding: 10px 15px;
  font-variant: small-caps;
  font-size: 18px;
  background:#244261;
}

.snap-drawer {
  background:#325D88;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
   padding-top: 50px;	  
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
  border-right: 1px solid #333;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
   border-left: 1px solid #333;
   
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}






/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
	display: block;
	right: 0;
	left: auto;
}

/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
	display: none;
}



/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
	-webkit-transition: opacity 0.3s ease; 
	   -moz-transition: opacity 0.3s ease; 
	    -ms-transition: opacity 0.3s ease; 
	     -o-transition: opacity 0.3s ease; 
	        transition: opacity 0.3s ease; 
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
	opacity: 0;
}

/* Styles for the "Settings" demo */
.opt {
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.opt p {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
	color: #222;
	color: rgba(0, 0, 0, 0.6);
}

.snap-drawers {
  background: #325D88;
  padding-top: 50px;
}

.snapjs-left{
	overflow:hidden;
}



.snap-drawers #main-menu-sezioni{
	margin:0;
}
.snap-drawers #main-menu-sezioni.navbar .nav  {
	margin: 0 -15px;
}
.snap-drawers #main-menu-sezioni.navbar .nav li a {
    text-align: left;
    /*color: #333;
	font-size:14px;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #c9c9c9 #c9c9c9;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;*/
    margin: 0;
	padding-left: 30px;
}
.snap-drawer-left #main-menu-sezioni.navbar .nav li a {
	padding-left: 15px;
}

.snap-drawers #side-menu ul li span.item-label{
	margin:0;
}

.swipe-help {
  background: #333;
  color:#fff;
  left: 0;
  margin-top: -96px;
  padding: 10px;
  position: absolute;
 font-size:18px; 
  width: 100%;
  z-index: 1000;
  opacity:0.9;
}

#side-menu {
  padding: 0;
}
#side-menu li a{
	padding-right:25px;
}

#unisa-middle{
	overflow:hidden;
}

.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td{
	white-space:pre-wrap;
}


/*
h3.vertical-left {
  background:#325D88;
  color: #fff;
  position:fixed;
  margin: 0;
  padding: 5px 10px;
  font-size:14px;	
  transform: rotate(-90deg);
  z-index: 1000;
  width:130px;
  top:50px;
  font-variant: small-caps;
  left:-78px;
  border-radius:10px 0 0 0;
}
h3.vertical-right {
  background:#325D88;
  color: #fff;
  position:fixed;
  margin: 0;
  padding: 5px 10px;
  font-size:14px;	
  transform: rotate(-90deg);
  z-index: 1000;
  width:130px;
  top:50px;
  font-variant: small-caps;
  right:-78px;
  border-radius:0 0 0 10px;
}
*/